<header>
  <h1 id="headerTitleID">What's in my Fridge?</h1>
  <h2 id="headerPurpose"><%= headerPurpose %></h2>
  <nav id="<%= navID %>">
    <ul id="nav_links">
      <li class="links"><a href="/search">Search</a></li>
      <li class="links"><a href="/">Logout</a></li>
    </ul>
  </nav>
</header>