<header>
  <h1 id="headerTitleID"><%= headerTitle%></h1>
  <nav id="<%= navID %>">
    <ul id="nav_links">
      <li class="links"><a href="/">Login Page</a></li>
      <li class="links"><a href="/search">Search</a></li>
    </ul>
  </nav>
</header>