<li id="recipe_result_body">
  <h2 id="recipe_result_title"><%= dishObj.title %></h2>
  <img id="recipe_result_img" src="<%= dishObj.image %>" alt="<%= dishObj.image %>">
  <form action="/details" method="POST">
    <input type="hidden" name="id" value="<%= dishObj.id %>">
    <button id="recipe_result_button">View Recipe Details</button>
  </form>
</li>
