<li id="recipe_result_body">
  <h2 id="recipe_result_title">Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs</h2>
  <img id="recipe_result_img" src="https://spoonacular.com/recipeImages/715538-312x231.jpg">
  <form action="">
    <input type="hidden" name="id">
    <button id="recipe_result_button">View Recipe Details</button>
  </form>
</li>
