<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link href="./styles/modules/aboutus.css" type="text/css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <title>What is in the fridge</title>
</head>
<body>
    <%- include("./partials/header", {pageHeader: "about_header",
                                      headerPurpose: "About Us",
                                      search_link: "search_link_id",
                                      aboutus_link: "inside_aboutus_page",
                                      class2: "all_nav_links", 
                                      navID: "navigation_bar"}) %>

<main>
    <!-- <h2 id= "team-name">Ginger bread</h2> -->
    <section class = "team-members">
        <div class = "member">
            <h3>Alan Hung</h3>
            <img class="picture" src="/images/LI Pic Edited.jpg" alt="Alan">
            <p>
                <br>
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>
                <br>
                Favorite Dish
                <br>
                <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi dolores obcaecati suscipit facilis exercitationem.
                 <br>
                 <br>
                 Follow me on:
                 <a class="socials" href="https://www.linkedin.com/in/alanyhung" target = "_blank">Linkedln</a>
                </p>
        </div>
    </section>
    <section class = "team-members">
        <div class = "member">
            <h3>Seid Mohamed</h3>
            <img class="picture" src="/images/seid.jpg" alt="Seid"><br><br>
            <p>
                <br>
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>
                <br>
                Favorite Dish
                <br>
                <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi dolores obcaecati suscipit facilis exercitationem.
                 <br>
                 <br>
                 Follow me on:
                 <a class="socials" href="https://www.linkedin.com/in/seid-mohamed" target = "_blank">Linkedln</a>
            </p>
        </div>
    </section>
    <section class = "team-members">
        <div class = "member">
            <h3>Nick Abramowicz</h3>
            <img class= "picture" src="/images/profPic.png" alt=""><br><br>
            <p>
                <br>
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>
                <br>
                Favorite Dish
                <br>
                <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi dolores obcaecati suscipit facilis exercitationem.
                 <br>
                 <br>
                 Follow me on:
                 <a class="socials" href="https://www.linkedin.com/in/nick-abramowicz-b027b8104/" target = "_blank">Linkedln</a>
            </p>
        </div>
    </section>
    <section class = "team-members">
        <div class = "member">
            <h3>Wondwosen Tsige</h3>
            <img class= "picture" src="/images/profilepicture.jpg" alt=""><br><br>
            <p>
                <br>
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>
                <br>
                Favorite Dish
                <br>
                <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi dolores obcaecati suscipit facilis exercitationem.
                 <br>
                 <br>
                 Follow me on:
                 <a class="socials" href="https://www.linkedin.com/in/wondwosen-tsige/" target = "_blank">Linkedln</a>
            </p>
        </div>
    </section>
    </main>
    <%- include("./partials/footer", {page_footer: "about_footer",
    extraFooter: "no_extra_footer",
    extraFooterText: ""}) %>
  </body>
</html>
