<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link href="./styles.modules/aboutus.css" type="text/css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <title>What is in the fridge</title>
</head>
<body>
    <%- include("./partials/header", {pageHeader: "all_page_header",
                                      headerPurpose: "About Us",
                                      navID: "navigation_bar"}) %>

<main>
    
    <h2 id= "team-name">Ginger bread</h2>

    <section class = "team-members">

        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa .</p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>

        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa </p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>
    
        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa </p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>

        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa </p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>

    </section>
    </main>

    <%- include("./partials/footer", {page_footer: "",
                                      extraFooter: ""}) %>
  </body>
</html>
