<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link href="./styles.modules/aboutus.css" type="text/css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <title>What is in the fridge</title>
</head>
<body>
    <%- include("./partials/header", {headerTitle: "Recipe Book - About-Us",
    navID: "navigation_bar"}) %>

<main>
    
    <h2 id= "team-name">Ginger bread</h2>

    <section class = "team-members">

        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa tenetur dolorem deleniti incidunt, ad fuga illo assumenda beatae iure animi vitae at soluta? Libero?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate ab, nostrum excepturi temporibus quas expedita quasi molestias nisi dolor architecto alias aspernatur quod, atque repellendus. Doloremque nam totam tempore voluptatem..</p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>

        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa tenetur dolorem deleniti incidunt, ad fuga illo assumenda beatae iure animi vitae at soluta? Libero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vel nemo delectus atque, laudantium magni quam ipsam nostrum, nisi aliquam ea! Voluptates dolore itaque at ducimus recusandae inventore rerum sunt?.</p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>
    
        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa tenetur dolorem deleniti incidunt, ad fuga illo assumenda beatae iure animi vitae at soluta? Libero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laudantium voluptate pariatur dicta rerum sint adipisci ipsa nemo odit quae error perferendis molestiae dolore praesentium, et ipsum doloremque libero delectus?.</p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>

        <div class = "member">
            <img id= "picture" src="" alt="" style="width: 400px" width = "300px" height = "600px"><br><br>
            <h2>Name here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates excepturi impedit nobis voluptatum quod, similique voluptas, voluptatem voluptate odio laborum. Nostrum magni debitis architecto! Quo excepturi nisi fugiat quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae nam adipisci tempore fuga. Culpa tenetur dolorem deleniti incidunt, ad fuga illo assumenda beatae iure animi vitae at soluta? Libero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, hic quas doloribus exercitationem eos et illo expedita possimus beatae facilis obcaecati quos porro corporis in officiis ipsum, libero minus ducimus?.</p>
            <p><a href="linkedin link" target = "_blank">Linkedln</a></p>
        </div>

    </section>
    </main>

    <%- include("./partials/footer") %>
 </footer> 
</body>
</html>
