<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="./styles/modules/login.css" type="text/css">
  </head>
  <body>
    <%- include("./partials/header", {headerPurpose: "Login",
                                      navID: "nav_login"}) %>
  <main>
    <section>
        
    </section>
  </main>
  <%- include("./partials/footer") %>
  <%- include("./partials/javascript", {jsFileName: "login"}) %>
</body>
</html>