<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header", {headerPurpose: "Recipe Details",
                                      navID: "navigation_bar"}) %>
    <main></main>
    <%- include("./partials/footer") %>
  </body>
</html>