<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header", {pageHeader: "all_page_header",
                                      headerPurpose: "Recipe Details",
                                      navID: "navigation_bar"}) %>
    <main></main>
    <%- include("./partials/footer", {page_footer: "",
                                      extraFooter: ""}) %>
  </body>
</html>