<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="./styles/modules/login.css" type="text/css">
  </head>
  <body>
    <%- include("./partials/header", {headerTitle: "Recipe Book - Login",
                                      navID: "nav_login"}) %>
  <main>
    <div id="login_body">
      <section id="fridge_body">
        <div id="left_fridge_door_open"></div>
        <div id="fridge_background">
          <form id="login_form_f" class="login_form" action="/login" method="POST">
            <fieldset id="login_form_fs" class="login_form" form="login_form_f">
              <Legend class="login_form">Please enter your User Name:</Legend>
              <input id="login_form_input" class="login_form" type="text" name="user_login_id">
              <button id="login_form_button" class="login_form">Login</button>
            </fieldset>
          </form>
          <div id="left_fridge_door"></div>
          <div id="right_fridge_door"></div>
        </div>
        <div id="right_fridge_door_open"></div>
      </section>
    </div>
  </main>
  <%- include("./partials/footer") %>
  <%- include("./partials/javascript", {jsFileName: "login"}) %>
</body>
</html>