<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="./styles/modules/results.css" type="text/css">
  </head>
  <body>
    <%- include("./partials/header", {pageHeader: "all_page_header",
                                      headerPurpose: "Results",
                                      search_link: "search_link_id",
                                      aboutus_link: "aboutus_link_id",
                                      class2: "all_nav_links", 
                                      navID: "navigation_bar"}) %>
    <main>
      <section id="results_body">
        <div id="results_body_left"></div>
        <div id="results_body_center">
          <ul id="results_display_body">
            <% dishObjArray.forEach(dishObj => { %>
              <%- include('./partials/results_li', {dishObj: dishObj}) %>
            <% }); %>
          </ul>
        </div>
        <div id="results_body_right"></div>
      </section>
    </main>
    <%- include("./partials/footer", {page_footer: "all_page_footer",
                                      extraFooter: "no_extra_footer",
                                      extraFooterText: ""}) %>
  </body>
</html>