<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="./styles/modules/search.css" type="text/css">
  </head>
  <body>
    <%- include("./partials/header", {headerTitle: "Recipe Book - Search",
                                      navID: "navigation_bar"}) %>
    <main>
        <div id = "search_page_body">
            <section id = "search_form_parent"></section>
        </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>