<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header", {pageHeader: "all_page_template",
                                      headerPurpose: "Template",
                                      navID: "nav_template"}) %>
    <main></main>
    <%- include("./partials/footer", {page_footer: "footer_template",
                                      extraFooter: "extra_footer_template",
                                      extraFooterText: "extra footer text template"}) %>
    <%- include("./partials/javascript", {jsFileName: 'app'}) %>
  </body>
</html>