<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header", {headerPurpose: "Template",
                                      navID: "nav_template"}) %>
    <main></main>
    <%- include("./partials/footer") %>
    <%- include("./partials/javascript", {jsFileName: 'app'}) %>
  </body>
</html>