
#team-name{
    text-align: center;
    padding: 5px;
    font-size: 45px;
    margin: 5px 2px 0px 0px;
    color: beige;
  
  
  }
  
  #team-name:hover{
    transition: 2s;
    transform:scale(1.8) ;
    opacity: 2;
    border-radius: 50%;
    color: blue;
  }
     
  #inside_aboutus_page{
    display: none;
  }
  

  #picture:hover{
    transition: 5s;
    transform:scale(1.2) ;
    opacity: 2;
    border-radius: 20%;
  }
  
  .member{
    width: 49%;
    height: 400px;
    border: 2px solid rebeccapurple;
    background-color: rgb(211, 182, 238);
    float: left;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 5px;
  }
  
  .picture{
    width: 200px;
    
  }

  .name-header{
    align-self: flex-start;
    text-align: center;
  }

  p{
    padding: 30px;
  }

  h3{
    width: 270px;
    height: 400px;
    position: absolute;
    padding: 35px;
    font-size: x-large;
  }

  #socials{
    width: 0px;
    height: 0px;
    position: absolute;
    padding: 35px;
    font-size: x-large;
  }

  div :nth-of-type(1){
    background-image: url(/public/images/testcover.jpeg);
  }