  .member{
    width: 49%;
    height: 400px;
    border: 2px solid rebeccapurple;
    background-image: url(/images/testcover.jpeg);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 5px;
  }
  
  .picture{
    width: 200px;
  }

  p{
    padding: 30px;
  }

  h3{
    width: 270px;
    height: 400px;
    position: absolute;
    padding: 35px;
    font-size: xx-large;
  }

  body{
    background-color: grey;
  }

  .socials:link, .socials:visited{
    color: black;
    position: absolute;
  }

  #inside_aboutus_page{
    display: none;
  }
