/* ======================================================================= */
/* ====================== Header & Footer Styling ======================== */
/* ======================================================================= */

#login_header{
  background-color: #00B6FF;
  background-position: center;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

/* ======================================================================= */
/* ======================= Header Nav Bar Styling ======================== */
/* ======================================================================= */

.login_nav_links{
  display: none;
}

#nav_login, #nav_links{
  height: 20%;
  width: 100%;
}

/* ======================================================================= */
/* ========================= Footer Page Styling ========================= */
/* ======================================================================= */

#vector_attribution{
  width: 100%;
  text-align: center;
}

/* ======================================================================= */
/* ========================= Login Body Styling ========================== */
/* ======================================================================= */

#login_body{
  width: 100%;
  height: 100%;
  background-image: url("../../images/testcover.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fridge_body{
  width: 100%;
  height: 100%;
  /* background-image: url("https://media.giphy.com/media/26FPqSW3io0nfgMUw/giphy.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fridge_background{
  width: 286px;
  height: 478px;
  background-image: url("../../images/Fridge_Internal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}

#left_fridge_door_open{
  width: 109px;
  height: 478px;
  background-image: url("../../images/Fridge_Left_Door_Open.jpg");
  background-repeat: no-repeat;
  display: none;
}

#right_fridge_door_open{
  width: 175px;
  height: 478px;
  background-image: url("../../images/Fridge_Right_Door_Open.jpg");
  background-repeat: no-repeat;
  display: none;
}

@media(min-width:776px){
  #fridge_body{
    width: 776px;
    background-size: contain;
  }
}

/* ======================================================================= */
/* ======================== Fridge Door Animation ======================== */
/* ======================================================================= */

#left_fridge_door{
  width: 109px;
  height: 478px;
  background-image: url("../../images/Fridge_Left_Door.jpg");
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
  /* transition: all 0.3s ease; */ /* Stretch Goal: Need to transition open doors */
}

#right_fridge_door{
  width: 175px;
  height: 478px;
  background-image: url("../../images/Fridge_Right_Door.jpg");
  background-repeat: no-repeat;
  margin-left: 2px;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  /* transition: all 0.3s ease; */ /* Stretch Goal: Need to transition open doors */
}

/* ======================================================================= */
/* ========================= Login Form Styling ========================== */
/* ======================================================================= */

.login_form{
  width: 270px;
  position: absolute;
}

#login_form_f{
  height: 100px;
  margin-top: 40px;
  padding: 5px;
}

#login_form_fs{
  height: 83px;
  padding: 5px;
  border: black 1px solid;
}

#login_form_input{
  width: 259px;
  height: 23px;
  top: 25px;
}

#login_form_button{
  width: 259px;
  height: 23px;
  top: 50px;
}

/* ======================================================================= */
/* ========================= Alert Form Styling ========================== */
/* ======================================================================= */

/* taken directly from w3schools.com */
#click_me_modal, #modal_overlay{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 60%;
  top: 60%;
  width: 188px;
  height: 20px;
}

#click_me_modal_text{
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
}
