/* ======================================================================= */
/* ================== Universal Header Partial Styling =================== */
/* ======================================================================= */

#headerTitleID{
  height: 80%;
  text-align: center;
  padding-top: 30px;
}